.plant {
    min-height: 22rem;
    // border: 1px solid lightgrey;
    // border-radius: 10px;
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        word-wrap: normal;
        text-overflow: '…';
    }
}
