<div class="d-flex align-items-stretch">
    <app-filter-side-bar [categories]="filterCat"></app-filter-side-bar>

    <div class="custom-main container p-3">
        <app-icon
            [iconName]="'heart'"
            [iconSize]="2"
            [iconColor]="'lightblue'"
        ></app-icon>
        <input
            class="form-control"
            type="text"
            placeholder="Recherche ta belle plante"
            aria-label="Input Recherche ta belle plante"
        />
        <div class="py-3">
            Trier par :
            <button class="btn btn-outline-success btn-sm me-2">Prix</button>
            <button class="btn btn-outline-success btn-sm me-2">
                Ordre Alpha
            </button>
            <button class="btn btn-outline-success btn-sm me-2">Avis</button>
        </div>
        <div class="row">
            <div class="col" *ngFor="let plante of listeProducts">
                <app-card-plante [detailsPlante]="plante"></app-card-plante>
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-between"></div>
    </div>
</div>
